@import "RootMixins";

.layout {
  height: 97vh;
  width: 84.4vw;
  margin: 15px 15px 15px 15px;
  background-color: #e1e6ea;
  border-radius: 15px 15px 15px 15px;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease;
  position: relative;
  left: 0;
}

.nav-collapsed {
  @include navShift();
  width: 95.06vw;
}