.nav-item {
  display: flex;
  font-size: 32px;
  transition-property: height;
  transition-duration: 250ms;
  height: 70px;
  align-items: center;
  background-color: #33427f;
  margin-top: 5px;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
}

.nav-item:hover {
  background-color: #4e5c93;
}

.nav-item-text {
  text-overflow: ellipsis;
  margin-left: 15px;
  width: 185px
}

.nav-item-image {
  margin-left: 14px;
}

.selected {
  height: 95px;
  background-color: #4e5c93;
}